<!--Start Header-->
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                <a href="">NextJob</a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 top-panel-right">
                        <ul class="nav navbar-nav pull-right panel-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <div class="avatar">
                                        <img src="/images/user.svg" alt="" />
                                    </div>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <div class="user-mini pull-right">
                                        <span class="welcome">{{ $ctrl.user.userName }}</span>
                                        <span>{{ $ctrl.user.role }}</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                      <logout></logout>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="">
    <div class="row">
        <div ng-if="$ctrl.user.role === 'Admin'" id="sidebar-left" class="col-xs-2 col-sm-2">
            <ul class="nav main-menu">
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/jd/" class=""target="_blank">
                        <i class="fa fa-table"></i>
                        <span>Job Description</span>
                    </a>
                </li>
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/agent/" target="_blank">
                        <i class="fa fa-table"></i>
                         <span>Agents</span>
                    </a>
                </li>
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/spoc/" class=""target="_blank">
                        <i class="fa fa-table"></i>
                         <span>SPOC</span>
                    </a>
                </li>
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/company/" target="_blank">
                        <i class="fa fa-table"></i>
                         <span>Companies</span>
                    </a>
                </li>
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/location/" target="_blank">
                        <i class="fa fa-table"></i>
                         <span>Locations</span>
                    </a>
                </li>
                <li>
                    <a href="http://nw.headrun.com:8086/admin/api/statustype/" target="_blank">
                        <i class="fa fa-table"></i>
                         <span>Statuses</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--Start Content-->
        <div id="content"class="">
            <div>
               <div class="row" style="margin-left: 0px;">
                  <div class="col-md-6">
                     <select class="form-control drop_down" ng-init="$ctrl.JDdefault" ng-model="$ctrl.JDdefault"
                        ng-change="$ctrl.dtInstance.changeData('/api/candidates/?jd='+$ctrl.JDdefault);$ctrl.jd_date_reset()" 
                        data-ng-options="jd.id as ( jd.name ) for jd in $ctrl.JDs">
                     </select>
                     <br>
                     <div class="jd_des" ng-if="$ctrl.JDdefault" >
                        <p><strong>Required: </strong>{{$ctrl.JDdes[$ctrl.JDdefault]['candidates_required']}} Candidates 
                            &nbsp;&nbsp;&nbsp; <strong>Exp: </strong>{{$ctrl.JDdes[$ctrl.JDdefault]['min_experience']}} - 
                            {{$ctrl.JDdes[$ctrl.JDdefault]['maximum experience']}} years &nbsp;&nbsp;&nbsp; 
                            <strong>Salary range: </strong>{{$ctrl.JDdes[$ctrl.JDdefault]['min_salary']}} - 
                            {{$ctrl.JDdes[$ctrl.JDdefault]['max_salary']}} Lpa</p>
                     </div>
                  </div>
                  <div class="col-md-2" style="padding-left:0px">
                    <button type="button" id = "refresh_btn" class="btn" ng-click= "$ctrl.refresh()" 
                    style="height:30px; width:30px; background:url('/images/refresh_button.svg') no-repeat center;box-shadow:none"></button>
                  </div>
                  <!-- date filter -->
                  <div class=""style="float:right; margin-right:50px">
                    <input type="radio" name="date_filter" value="scheduled" checked="checked"> Scheduled&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="date_filter" value="submitted"> Submitted
                    <md-datepicker ng-model="$ctrl.myDate" ng-change = '$ctrl.date_filter()' md-placeholder="Filter by date">
                    </md-datepicker>
                  </div>

              </div>
               <div class="row" style="margin-left: 0px;border: 1px solid rgba(186, 186, 186, 1);padding: 10px; overflow: auto;">
                  <div class="col-md-12">
                     <table datatable=""  dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" dt-instance="$ctrl.dtInstance" class="table-striped table-bordered row-border hover" style="cursor:pointer"></table>
                  </div>
               </div>

               <div class="modal fade" id="candidate_modal" role="dialog">
                  <div class="modal-dialog">
                     <!-- Modal content-->
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Edit Details</h4>
                        </div>
                        <div class="modal-body">
                         <div class="row"><!--added-->
                          <div class="col-md-8 form_col"><!--added-->
                           <form ng-submit="$ctrl.edit_data($ctrl.info)" id="candidate_form" class="form-horizontal" name = "candidate_form"
                            role="form" novalidate>

                                <div class="form-group fn" ng-class="{ 'has-erro' : candidate_form.fname.$invalid }">
                                    <label class="col-md-4 control-label">First Name <span style="color:red">*</span></label>  
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input  data-id="" name="fname" placeholder="First Name" class="form-control fname" 
                                                ng-model="$ctrl.info.fname" type="text" required>
                                        </div>
                                        <!--<p ng-show="candidate_form.fname.$invalid && !candidate_form.fname.$pristine" class="help-block">
                                            First Name is required
                                        </p>-->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Last Name</label>  
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input name="lname" placeholder="Last Name" class="form-control lname"
                                                ng-model="$ctrl.info.lname" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group dat" ng-class="{ 'has-erro' : candidate_form.date.$invalid }">
                                    <label class="col-md-4 control-label">Walk in Date <span style="color:red">*</span></label>  
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input  name="date" class="form-control date" ng-model="$ctrl.info.date"
                                            type="date" ng-required="true">
                                        </div>
                                        <!--<p ng-show="candidate_form.date.$invalid && !candidate_form.date.$pristine" class="help-block">
                                            Please pick a date.
                                        </p>-->
                                    </div>
                                </div>

                                <div class="form-group mob" ng-class="{ 'has-erro' : candidate_form.mobile.$invalid }">
                                    <label class="col-md-4 control-label">Mobile Number <span style="color:red">*</span></label>  
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            <input class="form-control mobile" ng-model="$ctrl.info.mobile" type="number" name="mobile"
                                                ng-minlength="10" ng-maxlength="10" ng-required="true">
                                        </div>
                                        <!--<p ng-show="candidate_form.mobile.$invalid && !candidate_form.mobile.$pristine" class="help-block">
                                           10 digit  mobile number is required.
                                        </p>-->
                                    </div>
                                </div>

                                <div class="form-group em" ng-class="{ 'has-erro' : candidate_form.email.$invalid 
                                    && !candidate_form.email.$pristine }">
                                    <label class="col-md-4 control-label">E-Mail</label>  
                                    <div class="col-md-7 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input class="form-control email" ng-model="$ctrl.info.email" type="email">
                                        </div>
                                        <!--<p ng-show="candidate_form.email.$invalid && !candidate_form.email.$pristine" class="help-block">
                                            Valid e-mail required
                                        </p>-->
                                    </div>
                                </div>

                                 <div class="form-group status_dropdown">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-7 selectContainer">
                                       <div class="input-group">
                                          <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                            <select name="status" class="form-control selectpicker status"
                                                ng-model="$ctrl.info.status" data-ng-options="status for status in $ctrl.status_options">
                                            </select>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="form-group">
                                    <label class="col-md-4 control-label">Remarks</label>
                                    <div class="col-md-7 inputGroupContainer">
                                       <div class="input-group">
                                          <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                          <textarea class="form-control remarks" name="remarks" placeholder="Remarks"
                                                 ng-model="$ctrl.info.remarks"></textarea>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="alert alert-success success_message" role="alert" >Updated Successfully</div>

                              <input style="float:right;margin:10px;  bottom:-50px; right:-140px" type="submit" 
                                id="submit" value="Save Changes"
                                class="btn btn-xs btn-primary" ng-disabled="candidate_form.$invalid"/>
                           </form>

                          </div><!--col-md-8 end -->
                          <div class="col-md-4 history_col" style="padding:0px; margin:0px;margin-left:-25px">
                            <div class="alert alert-success history_content" style="max-height:325px; overflow-y:scroll">
                                <p>test</p>
                            </div>
                          </div><!-- col-md-4 end -->
                         </div><!-- row -->

                        </div><!--modal body end -->
                        <div class="modal-footer" style="border-top:none">
                           <button id="close"  ng-click="clickHandler()" type="button"style="margin-top:-20px" 
                            class="btn btn-xs btn-default close_modal" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>



            </div>

              <button type="button" class="add_candidate_button" ng-click= "$ctrl.add_candidate()" style="float:right">Add</button>
              <p class="or" style="float:right;margin-top:15px">--OR--</p>
              <div id="fileupload"style="float:right;margin:10px;"><span style="cursor:pointer">Upload</span></div>
        </div>
          <!-- Modal -->
          <div class="modal fade" id="confirm_delete_modal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Permanently Delete Candidates</h4>
                  </div>
                <div class="modal-body">
                  <h5>Are you sure you want to delete the selected candidates ? </h5>
                </div>
                <div class="modal-footer" style="padding-bottom:0px; padding-top:8px">
                  <button type="button" class="btn btn-xs btn-danger confirm_delete_button" data-dismiss="modal">OK</button>
                  <button type="button" class="btn btn-xs btn-success" data-dismiss="modal">Cancel</button>
                </div>
              </div>
              
            </div>
          </div>
        <div id="notification" class="alert alert-warning hide">
            <div>
                <a type="button" class="close">X</a>
                <p class="msg-body"></p>
            </div>
        </div>




        <!--End Content-->
<script>
    $(function () {
       $("#fileupload").uploadFile({
            url:"/api/upload/",
            fileName:"myfile",
            dragDrop: false,
            onSuccess:function(files,data,xhr,pd){
                if (data.msg == 'Duplicate Mobile number'){
                        alert('Duplicate Mobile number');
                    }
                else{
                    console.log("in upload refresh");
                    show_msg("Uploaded Successfully",1500);
                    $('#refresh_btn').trigger('click');
                    //location.reload();
                }
                $('.ajax-file-upload-statusbar').hide();
            },
       });
        var show_msg = function(msg){
            var timer = 0;
            $("#notification .msg-body").text(msg);
            var $that = $("#notification").removeClass("hide").slideDown();
            if(arguments[1]){
                timer = window.setTimeout(function(){
                    $that.slideUp();
                },arguments[1]);
            }   
        }
    });
</script>

